
.grid-container {
    display: grid;
    grid-template:
            '. . . . .'
            '. . . . .'
            '. . . . .'
            '. . . . .'
            '. . . . .';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}
.grid-container>div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding:10px 10px 10px;
    font-size: 30px;
}
.grid-container .hilight {
    background-color: rgba(255, 0, 0, 0.8);
}
